Chibody {
    font-family: Arial;
    text-align: center;
    background: #f2f2f2;
    padding: 30px;
}

h1 {
    color: #1d4ed8;
}

input {
    padding: 8px;
    margin: 5px;
    width: 100px;
}

button {
    padding: 10px 20px;
    margin: 15px;
    background: #1d4ed8;
    color: white;
    border: none;
    border-radius: 5px;
}

table {
    margin: 20px auto;
    border-collapse: collapse;
    background: white;
}

th, td {
    border: 1px solid #333;
    padding: 10px;
}